/*-------------blanket stylings---------*/
  
body {
  box-sizing: border-box;
  display: grid;
  font-family: 'Open Sans', sans-serif;
  grid-template-columns: 15% 85%;
  grid-template-rows: 5% 12.8% 82.2%;
  height: 100rem;
  width: 100%;
}

section {
  border: 1px solid #f5f5f5;
  box-sizing: border-box;
}

main {
  box-sizing: border-box;
}

/*----------side nav styles-----*/

.side-nav-section {
  background-color: #374050;
  color: #A9B2C2;
  display: flex;
  flex-direction: column;
  font-weight: 600;
  grid-column-end: 2;
  grid-column-start: 1;
  grid-row-start: span 3;

}

.side-nav-section aside {
  border: 1px solid #303848;
  box-sizing: border-box;
  width: 100%;
}

.profile-aside  {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 12%;
  width: 100%;
}

.profile-aside-image {
  border-radius: 9rem;
  height: 50%;
  margin-top: 2rem;
  width: 50%;
}

.profile-icon {
  width: 1rem;
}

.profile-aside select {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: #374050;
  border: none;
  color: #C0C9DB;
  cursor: pointer;
  font-size: 1rem;
  width: 5.5rem;
}

.profile-aside select:hover {
  background-color: #303848;
  color: white;
}

.profile-aside nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-top: .75rem;
  padding: 0 1rem 0 2rem;
}

.main-aside, .admin-aside  {
  display: flex;
  height: 21.5%;
  justify-content: sp
  width: 100%;
}

.catagories-aside {
  height: 45%;
}

.nav-headings {
  color: #7F8CA4;
  font-size: .75rem;
  font-weight: 400;
  height: 1rem;
  padding-left: 0 0 0 1rem;
  width: 100%;
}

.main-aside ul, 
.admin-aside ul, 
.catagories-aside ul {
  padding: 1rem 0;
  width: 100%;
}

.main-aside li , 
.catagories-aside li,
.admin-aside li{
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 1rem;
  justify-content: flex-start;
  padding: .85rem 0 .85rem 1rem;
  width: 90%;
}

.main-aside .list-items:hover,
.admin-aside .list-items:hover {
  background-color: #303848;
  border-left: 2px solid #409EF3;
  color: white;
  cursor: pointer;
}

.side-nav-icons {
  height: 1.25rem;
  padding-right: 1rem;
}

.catagories-aside i {
  cursor: pointer;
  opacity: .1;
}

.catagories-aside i:hover {
  color: black;
  font-size: 1.25rem;
  opacity: .99;
}

.catagories-aside nav{
  align-items: center;
  background-repeat: none;
  background-size: cover;
  display: flex;
  flex-direction: row;
  height: 2rem;
  justify-content: flex-start;
  margin: 0 .5rem 0 -.25rem;
  padding-left: .25rem;
  width: 1.75rem;
}

.yellowbox-icon {
  background-image: url('images/yellowbox-copy.png');
}

.bluebox-icon {
  background-image: url('images/bluebox-copy.png');
}

.redbox-icon {
  background-image: url('images/redbox-copy.png');
}

.greenbox-icon {
  background-image: url('images/greenbox-copy.png');
}

/*-------search bar stylez------*/

.search-bar-section {
  display: flex;
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 2;
  grid-row-start: 1;
}

.search-bar-section article {
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #f5f5f5;
  box-sizing: border-box;
  cursor: pointer;
  height: inherit;
  transition: 0.3s;
  width: 8%;
}

.search-bar-section article:hover {
  background-color: #44A4F3;
}

.icon-th-list, .icon-th,
.icon-user-plus, .icon-calendar {
  color: grey;
  font-size: 1.5rem;
  transition: 0.5s;
}

.search-bar-section article:hover .icon-th-list,
.search-bar-section article:hover .icon-th, 
.search-bar-section article:hover .icon-user-plus, 
.search-bar-section article:hover .icon-calendar {
  color: white;
}

.search-bar-section input {
  background-image: url('images/search.png');
  background-position: 4% center;
  background-repeat: no-repeat;
  border-left: .05rem solid lightgrey;
  border-top: .02rem solid #f5f5f5;
  color: grey;
  font-size: 1.25rem;
  height: 5rem;
  padding-left: 5rem;
  width: 68%;
}

.search-bar-section input::placeholder {
  color: lightgrey;
  font-size: 1.25rem;
}

  /*--------top menu styles-------*/

.top-menu-section {
  color: grey;
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 3;
  grid-row-start: 2;
}

.title-main {
  display: inline-block;
  height: 8.5rem; 
  padding: 3rem .25rem .25rem 3rem;
  width: 70%;
}

.title-main h1 {
  font-size: 2rem;
  font-weight: 400;
}

.title-main h2 {
  display: flex;
  padding-top: .75rem;
}

.title-main img {
  padding-right: .25rem;
}

.title-main a {
  color: #72e0fc;
  cursor: pointer;
  padding-left: .25rem;
  text-decoration-line: none;
}

.buttons-main {
  display: flex;
  flex-direction: row;
  float: right;
  height: 3.5rem;
  margin-top: 3rem;
  padding: 0 .5rem;
  width: 30%;
}

.buttons-main button {
  position: relative;
  border-radius: 9rem 9rem;
  border: 1.5px solid lightgrey;
  color: grey;
  cursor: pointer;
  height: 3rem;
  margin: 0 .5rem;
}

.buttons-main button:hover {
  -moz-box-shadow: 3px 4px 5px grey;
  -webkit-box-shadow: 3px 4px 5px grey;
  background-color: #f5f5f5;
  border: 1.5px solid lightgrey;
  box-shadow: 3px 4px 5px #717E93;
}

.beyonce-button {
  display: flex;
  align-items: center;
  font-size: .85rem;
  font-weight: 600;
  justify-content: center;
  padding: 0 .5rem;
  width: 6.5rem;
}

.beyonce-button img {
  padding-right: .5rem;
}

.side-buttons {
  background-position: center center;
  background-repeat: no-repeat;
  width: 3rem;
}

.side-button1 {
  background-image: url('images/side-button1.png');
}

.side-button2 {
  background-image: url('images/side-button2.png');
}

.side-button3 {
  background-image: url('images/side-button3.png');
}

.top-nav-main {
  box-sizing: border-box;
  padding: 0 17.5rem 0 3rem;
}

.top-nav-main ul {
  box-sizing: border-box;
  display: flex;
  height: 4rem;
  justify-content: space-between;
  width: 100%;
}

.top-nav-main li {
  box-sizing: border-box;
  cursor: pointer;
  font-size: .85rem;
  font-weight: 600;
  padding: 1.5rem .05rem;
}

.top-nav-main li:hover {
  border-bottom: 2px solid #44A4F3;
  color: black;
  font-weight: 700;
}

/*-----------bottom section styles----------*/

.bottom-section {
  background-color: #EEF2F6;
  grid-column-end: 3;
  grid-column-start: 2;
  grid-row-end: 4;
  grid-row-start: 3;
  padding: 3rem;
}

.hr1 {
  display: inline-block;
  float: left;
  width: 47%;
}

.hr2 {
  display: inline-block;
  float: right;
  width: 47%;
}

.mid-page-arrow {
  border-radius: 9rem;
  cursor: pointer;
  display: inline-block;
  height: 1.75rem;
  margin: 0 .75rem;
}

.mid-page-arrow:hover {
  -moz-box-shadow: 3px 4px 5px grey;
  -webkit-box-shadow: 3px 4px 5px grey;
  box-shadow: 3px 4px 5px #717E93;
}

  /*---------------graphs section styles-----*/

.graphs-section {
  display: flex;
  height: 26%;
  justify-content: space-around;
  width: 100%;
}

.graphs-section main {
  height: 100%;
}

.graphs-section .donut-graphs {
  width: 54%;
}

.graphs-section .bar-graphs {
  width: 44%;
}

.graphs-section button {
  border-radius: 9rem;
  border: .1rem solid #d2d3d4;
  color: #717E93;
  cursor: pointer;
  display: block;
  font-size: .75rem;
  font-weight: 600;
  height: 3rem;
  padding: 0 2rem;
}

.graphs-section button:hover {
  -moz-box-shadow: 3px 4px 5px grey;
  -webkit-box-shadow: 3px 4px 5px grey;
  background-color: #f5f5f5;
  border: 1.5px solid lightgrey;
  box-shadow: 3px 4px 5px #717E93;
}

.donut-graphs {
  align-items : center;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-left: -2rem;
  padding-bottom: 1rem;
}

.donut-graphs aside {
  display: flex;
  justify-content: space-around;
}

.donut-graphs svg {
  height: 50%;
  width: 40%
}


.chart-text {
  -moz-transform: translateY(0.25em);
  -ms-transform: translateY(0.25em);
  -webkit-transform: translateY(0.25em);
  fill: #717E93;
  font-weight: 500;
  font: 16px/1.4rem 'Encode Sans', sans-serif;
  transform: translateY(0.25em);
}

.chart-number {
  -moz-transform: translateY(-0.25em);
  -ms-transform: translateY(-0.25em);
  -webkit-transform: translateY(-0.25em);
  font-size: 0.6rem;
  line-height: 1;
  text-anchor: middle;
  transform: translateY(-0.25em);
}

.chart-label {
  -moz-transform: translateY(0.7em);
  -ms-transform: translateY(0.7em);
  -webkit-transform: translateY(0.7em);
  font-size: 0.2rem;
  text-anchor: middle;
  text-transform: uppercase;
  transform: translateY(0.7em);
}


.bar-graphs {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 3rem;
}

.bar-graphs img {
  width: 100%;
}

.bar-graphs button {
  border-radius: 9rem;
  height: 2.75rem; 
  margin-top: 4rem;
}

/*-----------tables section styles--------/*/

.table-section {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  height: inherit;
  padding-top: 3rem;
  width: 100%;
}

.jobs-table{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  -moz-box-shadow: 3px 4px 5px lightgrey;
  -webkit-box-shadow: 3px 4px 5px grey;
  background-color: #fff;
  border: 1px solid #f5f5f5;
  box-shadow: 3px 4px 5px lightgrey;
  box-sizing: border-box;
  height: 45%;
  width: 65%;
}

.jobs-table thead {
  background-color: #717E93;
  font-weight: 400;
  padding: 1.25rem 0 1.25rem 1.75rem;
  width: 96.25%;
}

thead th {
  color: #fff;
  font-weight: 600;
  padding: .5rem 2rem 0 0;
  width: 10rem;
}

thead td {
  background-color: #7D8BA4;
  color: #fff;
  cursor: pointer;
  font-size: .75rem;
  height: 2rem;
  padding: .5rem 0 0 .5rem;
  width: 3rem;
}

thead td:hover {
  -moz-box-shadow: 3px 4px 5px #717E93;
  -webkit-box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.8);
  border: .009rem solid #d5d5d5;
  box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.8);
}

thead img {
  height: .88rem;
}

.jobs-table tbody {
  color: #717E93;
  padding: 0 2rem;
}

tbody tr {
  border-bottom: 1.5px solid #f3f3f3;
  display: flex;
  font-size: 1rem;
  font-weight: 400;
  padding: 1.5rem 0;
  text-align: left;
  width: 100%;
}

tbody th {
  font-size: .80rem;
  font-weight: 600;
  width: 30%;
}

tbody td {
  width: 70%;
}

tbody img {
  border-radius: 9rem;
  height: 1.5rem;
  padding-right: .75rem;
}

.bold-table {
  font-weight: 700;
}
---------
.contacts-table {
  display: flex;
  flex-direction: column;
  height: inherit;
  width: 21%;
}

.media-button {
  -moz-box-shadow: 3px 4px 5px lightgrey;
  -webkit-box-shadow: 3px 4px 5px lightgrey;
  align-items: center;
  box-shadow: 3px 4px 5px lightgrey;
  color: #fff;
  cursor: pointer;
  display: block;
  display: flex;
  flex-direction: row;
  font-size: 1.05rem;
  height: 3.25rem;
  justify-content: center;
  margin-bottom: 1.25rem;
  width: 100%;
}

.media-button:hover {
  -moz-box-shadow: 3px 4px 5px grey;
  -webkit-box-shadow: 3px 4px 5px grey;
  box-shadow: 3px 4px 5px #717E93;
}

.media-button img {
  float: left;
  margin-left: -9rem;
  padding-left: .5rem;
  position: absolute;
}

.facebook-btn {
  background-color: #4F70BD;
}

.twitter-btn {
  background-color: #45AAEA;
}

.linked-btn {
  background-color: #3280B7;
}

.contacts-table p {
  box-sizing: border-box;
  color: #717E93;
  font-size: .90rem;
  line-height: 1.5rem;
  padding: .5rem 0;
  width: 21rem;
}

.contacts-table input {
  box-sizing: border-box;
  display: inline-block;
  font-size: 1rem;
  height: 3rem;
  padding-left: 1rem;
  width: 85%;
  z-index: -1;
}

.contacts-table .link-icons {
  height: 1.75rem;
  margin-right: .5rem;
}

.contacts-asides button {
  background-color: #66B8BF;
  color: white;
  cursor: pointer;
  display: inline-block;
  height: 3rem;
  margin-left: -1rem;
} 

.contacts-asides button:hover {
  -moz-box-shadow:  3px 4px 5px grey;
  -webkit-box-shadow:  3px 4px 5px grey;
  box-shadow:  3px 4px 5px #717E93;
  }

.contacts-asides h3 {
  align-items: center;
  color: #717E93;
  display: flex;
  font-size: 1.25rem;
  font-weight: 700;
  justify-content: flex-start;
  margin-top: .5rem;
}

.contacts-table hr {
  color: #717E93;
  height: .1rem;
  margin: 1.25rem 0;
  width: inherit;
}

/*--------------media queries-----------*/

@media screen and (max-width: 1250px) {
  .side-nav-section {
    grid-column-end: 0;
    grid-column-start: 0;
    grid-row-end: 0;
    grid-row-start: 0;
    overflow: hidden;
    transition: all 1s;
  }

  .search-bar-section {
    grid-column-end: 3;
    grid-column-start: 1;
    transition: all 1s;
  }

  .top-menu-section {
    grid-column-end: 3;
    grid-column-start: 1;
    transition: all 1s;
  }

  .bottom-section {
    grid-column-end: 3;
    grid-column-start: 1;
    padding: 2.5rem;
    transition: all 1s;
  }
}

@media screen and (max-width: 1100px) {
  .top-nav-main {
    padding: 0 3rem;
    transition: 1s;
  }

  .bar-graphs {
    margin-top: 1rem;
    transition: 1s;
  }

  .bar-graphs button {
    margin-top: 6rem;
    transition: 1s;
  }

  .hr1, .hr2 {
    transition: all 1s;
    width: 45%;
  }

  .jobs-table {
    height: 46%;
    transition: all 1s;
    width: 57%;
  }

  .jobs-table thead {
    transition: 1s;
    width: 95%;
  }

  .bottom-section {
    padding: 2rem;
    transition: 1s;
  }
}

@media screen and (max-width: 915px) {
  .jobs-table {
    height: inherit;
    transition: 1s;
  }

  .bottom-section {
    padding: 1.5rem;
    transition: 1s;
  }
}

@media screen and (max-width: 850px) {
  .bottom-section {
    padding: 1rem;
    transition: 1s;
  }

  .bar-graphs {
    margin-top: 2rem;
    transition: 1s;
  }

  .jobs-table thead {
    transition: 1s;
    width: 93.5%;
  }

  .jobs-table {
    width: 54%;
    transition: 1s;
  }
}

@media screen and (max-width: 775px) {
  body {
    height: 130rem;
  }

  .search-bar-section{
    background-color: whitesmoke;
    border-bottom: .1rem solid grey;
    position: fixed;
    transition: all 1s;
    width: 100%;
    z-index: 2;
  }
  
  .top-menu-section {
    background-color: whitesmoke;
    padding-top: 2rem;
    position: fixed;
    transition: all 1s;
    z-index: 1;
  }

  .top-menu-section li {
    font-size: .75rem;
    transition: 1s;
  }

  .top-menu-section .buttons-main {
    overflow: hidden;
    z-index: -2;
  }

  .bottom-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 125rem;
    justify-content: flex-start;
    margin-top: -2rem;
    transition: all 1s;
  }
  
  .graphs-section {
    align-items: center;
    flex-direction: column;
    transition: all 1s;
  }

  .donut-graphs {
    grid-column-end: 3;
    grid-column-start: 1;
    height: 30rem;
    transition: all 1s;
  }

  .donut-graphs svg{
    height: 10rem;
    width: 10rem;
  }

  .donut-graphs button {
    margin-bottom: -100;
  }

  .bar-graphs {
    grid-column-end: 3;
    grid-column-start: 1;
    height: 30rem;
    justify-content: space-around;
    padding-top: 6rem;
    transition: all 1s;
    width: 100%;
  }

  .bar-graphs button {
    margin-top: 1rem;
  }

  .hr1, .hr2, .mid-page-arrow {
    z-index: -3;
  }

  .table-section {
    align-items: center;
    flex-direction: column;
    justify-content: flex-start;
    margin-top: 0;
    overflow: scroll;
    transition: all 1s;
  }

  .jobs-table {
    height: 55rem;
    transition: all 1s;
    width: 99%;
  }

  .contacts-table {
    grid-column-end: 3;
    grid-column-start: 1;
    position: relative;
    transition: all 1s;
  }
}

@media screen and (max-width: 600px) {
  .search-bar-section {
    position: relative;
    z-index: -2;
  }  

  .top-menu-section {
    padding-top: 0;
    position: relative;
  }

  .top-menu-section li {
    overflow: hidden;
  }

  .top-nav-main {
    font-size: .5rem;
    margin-top: -100rem;
    padding: 0;
  }
  
  .title-main {
    grid-column-end: 3;
    grid-column-start: 1;
  }

  .buttons-section {
    position: absolute;
  }

  .donut-graphs svg{
    height: 6rem;
    width: 6rem;
  }

  h1 {
    font-size: .8rem;
  }
}

@media screen and (max-width: 315) {
  .top-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
  }

  .bottom-section {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    overflow: scroll;
    padding: 0;
  }

  .table-section {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }
}